Checks: >-
  -clang-diagnostic-*,
  readability-container-contains,
  readability-container-data-pointer,
  readability-container-size-empty,
  readability-redundant-casting,
  readability-static-definition-in-anonymous-namespace,
  readability-use-std-min-max,
