# Build
build*/
cmake-build-*/
compile_commands.json

# Python cache
__pycache__

# Editor / IDE
.vscode/
.idea/
.cache/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Nix
.envrc
.direnv/
result/
result
result-*
